* {
    font-family: 'Segoe UI'; 
}
p {
    margin: 0px;
    padding: 0.5em 0;
}
.spacing{
    padding: .4em;
}
.section_1 {
    border: rgb(24, 22, 158) 0.25em solid;
    padding: .4em;
    background-color: rgb(111, 122, 223);
}
.section_2 {
    border: palevioletred 0.25em solid;
    padding: .4em;
    background-color: pink;
}
.section_3 {
    border: rgb(23, 162, 109) 0.25em solid;
    padding: .4em;
    background-color: rgb(113, 216, 176);
}
.section_4 {
    border: rgb(228, 250, 32) 0.25em solid;
    padding: .4em;
    background-color: rgb(241, 251, 150);
}
.input-text{
    background-color: pink;
}